<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Confirmare</title>
		<%- include("../fragm/head") %>
	</head>
	<body class="container">
		
			<%- include("../fragm/header") %>
		
		<main>
			
			<h1>Confirmare mail</h1>
			<p>Mail-ul a fost confirmat.</p>
			<p>V-ati inregistrat cu succes !</p>
		</main>
		
		<%- include("../fragm/footer") %>
		
	</body>
</html>