<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Magazin Machete - cos virtual.">
        <link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" />
        <title>Magazin Machete - coș virtual</title>
        <%- include("../fragm/head") %>     
        <script type="text/javascript" src="/resurse/js/cos_virtual.js"></script>
    </head>
    <body>
    <%- include("../fragm/header") %>

    <main class="afisaj">
        
        <button id="cumpara">
            Cumpara
        </button>        
    
    </main>

    <%- include("../fragm/footer") %>
    </body>
</html>