<!DOCTYPE html>
<html lang="ro">
<head>
  <meta name="description" content="Magazin Machete- despre."/>
  <meta name="keywords" content="machete,magazin,poveste,corabie,jucărie,confecționa"/>
  <title>Magazin Machete - despre</title>
    <%- include("../fragm/head.ejs"); %>
</head>

<body>
  
    <%- include("../fragm/header.ejs"); %>
       
  
  <main class="despre"> 
    <strong> -- About us -- </strong>
    <br>
    <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
     Nulla vel aliquam velit. Sed aliquam lorem a arcu elementum laoreet. 
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec odio blandit, 
     commodo risus eget, mollis risus. Nulla dapibus eu justo ut bibendum. Nam eget 
     neque ac odio cursus hendrerit sed sed elit. Aenean sagittis nulla eget pulvinar 
     rhoncus. Proin mollis at nisl ac porttitor. Fusce semper fringilla neque, eu congue 
     lacus. In efficitur magna et turpis placerat, et commodo turpis vulputate.<br><br>
<p>
       Proin id dui fermentum justo feugiat dapibus. Vestibulum eget dictum ligula. 
    Duis ut sem id risus ornare aliquet a ut mi. Donec a erat vel metus luctus aliquet 
    id et erat. Proin non turpis eget massa rutrum aliquam. Vivamus commodo, justo vitae 
    semper ullamcorper, urna ante imperdiet ligula, nec tincidunt nunc metus non risus. 
    Donec urna risus, congue et mi eu, bibendum dictum nulla. Aenean tortor nisl, pharetra 
    imperdiet lectus et, ultricies convallis enim. Mauris vulputate mauris non mi sodales, 
    sed mollis est pharetra.</p>
  </main>
    
  
<%- include("../fragm/footer.ejs"); %>
 
  
</body>




</html>