<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Magazin Machete</title>
		<%- include("../fragm/head") %>
	</head>
	<body class="container">
		
			<%- include("../fragm/header") %>
		
		<main>
			
			<h1>Eroare</h1>
			<p><%= locals.mesaj %></p>
		</main>
		
		<%- include("../fragm/footer") %>
		
	</body>
</html>