<!DOCTYPE html>
<html  lang="ro">
    <head>      
        
        <title>Magazin Machete - logout </title>
        <%- include("../fragm/head") %>     
        
    </head>
    <body>
    <%- include("../fragm/header") %>

    <main>
    Ai fost delogat!
</main>


    <%- include('../fragm/footer') %>


</body>
</html>