#galerie-animata {
  width: 80%;
  padding: 30px;
  text-align: center;
  background: var(--body-background-light);
  border-left: 1px solid var(--shadow-light);
  border-right: 1px solid var(--shadow-light);
}
#galerie-animata h2 {
  color: #851130;
  margin-bottom: 15px;
}
#galerie-animata h2::before {
  content: "11 imagini";
  margin-right: 10px;
  color: var(--shadow-color);
  font-size: 1.2rem;
  animation: nrimag 3s 1 forwards linear;
}
#galerie-animata .galerie-a {
  width: 400px;
  height: 500px;
  border: 20px solid var(--background-header-color);
  border-image: url(/resurse/img/border1.png) 30% round;
  box-shadow: -5px -5px 6px var(--shadow-color);
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
  margin: auto;
}
#galerie-animata .galerie-a figure {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  display: none;
  animation-name: gal_anim;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 33s;
  transform-origin: center center;
  overflow: hidden;
}
#galerie-animata .galerie-a figure:nth-last-of-type(1) {
  display: block;
  animation-delay: 3s;
}
#galerie-animata .galerie-a figure:nth-last-of-type(2) {
  display: block;
  animation-delay: 6s;
}
#galerie-animata .galerie-a figure:nth-last-of-type(3) {
  display: block;
  animation-delay: 9s;
}
#galerie-animata .galerie-a figure:nth-last-of-type(4) {
  display: block;
  animation-delay: 12s;
}
#galerie-animata .galerie-a figure:nth-last-of-type(5) {
  display: block;
  animation-delay: 15s;
}
#galerie-animata .galerie-a figure:nth-last-of-type(6) {
  display: block;
  animation-delay: 18s;
}
#galerie-animata .galerie-a figure:nth-last-of-type(7) {
  display: block;
  animation-delay: 21s;
}
#galerie-animata .galerie-a figure:nth-last-of-type(8) {
  display: block;
  animation-delay: 24s;
}
#galerie-animata .galerie-a figure:nth-last-of-type(9) {
  display: block;
  animation-delay: 27s;
}
#galerie-animata .galerie-a figure:nth-last-of-type(10) {
  display: block;
  animation-delay: 30s;
}
#galerie-animata .galerie-a figure:nth-last-of-type(11) {
  display: block;
  animation-delay: 33s;
}
#galerie-animata .galerie-a figure figcaption {
  position: absolute;
  bottom: 25px;
  background: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  z-index: 2;
}
#galerie-animata .galerie-a:hover figure {
  animation-play-state: paused;
}

@keyframes gal_anim {
  0% {
    z-index: 10;
    opacity: 1;
    clip-path: circle(100%);
  }
  4.5454545455% {
    transform: rotate(0deg);
  }
  6.5454545455% {
    opacity: 1;
    clip-path: circle(35%);
    transform: rotate(0deg);
  }
  9.0909090909% {
    z-index: 10;
    transform: rotate(720deg);
    clip-path: circle(5%);
    opacity: 0;
  }
  9.1909090909% {
    z-index: -10;
    transform: rotate(0deg);
  }
  90.9090909091% {
    transform: rotate(0deg);
    z-index: -10;
  }
  91.0090909091% {
    z-index: 0;
    clip-path: circle(100%);
  }
  100% {
    opacity: 1;
    z-index: 0;
  }
}
@keyframes nrimag {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 900px) {
  #galerie-animata {
    display: none;
  }
}