<footer>
   
 <ul><li>Despre noi</li>
    <li>Infiintare</li>
    <li>Echipa</li>
    <li>Istoric</li>
    <li>Creat <time datetime="2022-05-29 15:15"></time></li>
 </ul>
 <ul><li>Legislatie</li>
    <li><a href="/Termeni">Termeni și condiții</a></li>
    <li><a href="/Confidentialitate"> Politica de confidențialitate</a></li>
    <li>Regulamente</li>
    <li><p>&copy; Copyright 2022</p></li>
  </ul>
 <ul><li>Contact</li>
    <li>Tel: 0729228372</li>
    <li>Serv. tehnic: 038273472</li>
    <li>Whatapp</li>
    
 </ul>
   
</footer>